.main{
    width: calc(100% - 10px);
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    place-content: center center;
    align-items: center;
    margin: 0% auto;
    padding: 5px;
}
.main img{
    max-width: 400px;
    width: 100%;
}
.form-field{
    width: 100%;   
}
form{
    padding: 5% 0% 15% 0%;
}