<div class="main">
    <img src="assets/password_reset.svg" alt="">
    <form [formGroup]="frmSetNewPassword">
        <mat-form-field class="form-field" appearance="outline">
            <input type="password" formControlName="password" matInput placeholder="Enter your new password">
            <mat-error *ngIf="!frmSetNewPassword.controls['password'].valid && frmSetNewPassword.controls['password'].touched">
                invalid Password *add number
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <input type="password" formControlName="confirmPassword" matInput placeholder="Enter your new password">
            <mat-error *ngIf="!frmSetNewPassword.controls['confirmPassword'].valid && frmSetNewPassword.controls['confirmPassword'].touched">
                invalid Password *add number
            </mat-error>
        </mat-form-field>
        <div class="submit-button">
            <button mat-stroked-button (click)="onSubmit(frmSetNewPassword.value)">submit</button>
        </div>
    </form>
</div>