
<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column">
      <a routerLink="review">
        <button mat-button>Review Panel</button>
      </a>
      <a routerLink="courses">
        <button mat-button>Course Panel</button>
      </a>
      <a routerLink="/admin">
        <button mat-button>Admin</button>
      </a>
    </div>
    <div fxLayout="column">
      <button mat-button >Home</button>
      <button mat-button>Home</button>
      <button mat-button>Home</button>
    </div>
  </div>
</mat-card>
