.main{
    width: 500px;
    text-align: center;
}

.list{
    text-align: center;
}
.list p{
    font-size: 22px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.list a{
    color: blueviolet;
    cursor: pointer;
}
.list a:hover{
    text-decoration: underline;
}