<div class="main">
  <div>
    <button mat-icon-button (click)="close()" style="color: black;">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="list">
    <a (click)="demoDailog()">
      <p>Demo Class</p>
    </a>
    <a (click)="navigate('studentregister')">
      <p>Adminssion</p>
    </a>
    <a (click)="navigate('paper')">
      <p>Write a Paper</p>
    </a>
    <a (click)="navigate('workshop')">
      <p>Workshop</p>
    </a>
    <a (click)="openPlacement()">
      <p>Job Update</p>
    </a>
  </div>
</div>