.main1-div{
    background-color:var(--div-background-bk);
    width: 100%;
    color: var(--white-color-bk-font);
    .main1-sub1{
        height: 100%;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-around;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }
}

.insitute-name{
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 40px;
  .willntrix-head{
    font-family: "Comfortaa",cursive;
    font-size: 50px;
  }
  .willntrix-sub{
    font-family: "Comfortaa",cursive;
    font-size: 25px;
  }
}

.carriers{
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}
.carriers-head{
  font-family:  "Roboto",sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}
.carriers-head a{
  color: var(--white-color-bk-font);
  text-decoration: none;
}
.social img{
  padding: 0px 5px;
}
.carriers-sub{
  font-family:  "Roboto",sans-serif;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.8;
}
.line{
  max-width: 200px;
  width: 100%;
  height: 1px;
  background-color: var(--white-color-bk-font);
  margin: 10px 0px;
}

@media(max-width:500px){
  .willntrix-head{
    font-size: 35px !important;
  }
  .willntrix-sub{
    font-size: 15px !important;
  }
  .main1-sub1{
    flex-direction: column !important;
  }
}
.icons{
  color: var(--white-color-bk-font);
}
.under-footer {
  h4 {
    font-weight: 400;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    font-family: "Comfortaa", cursive;
    font-size: 12px;
  }
}