<div class="main1-div">
  <div class="main1-sub1">

    <div class="insitute-name">
      <div class="willntrix-head">
        WillntriX
      </div>
      <div class="willntrix-sub">
          Get skilled | Get hired
      </div>
    </div>

    <div class="carriers">
      <div class="carriers-head" routerLink="about">About Us</div>
      <div class="carriers-head"><a href="#Reviews">Reviews</a></div>
      <div class="carriers-head"><a>Testimonials</a></div>
      <div class="carriers-head" routerLink="FAQ">FAQs</div>
      <div class="carriers-head" routerLink="contact">Contact Us</div>
    </div>
    <div class="carriers">
      <div class="carriers-head"><a routerLink="/" fragment="enquiry">Enquiry now</a></div>
      <div class="carriers-head"><span routerLink="login">Login</span></div>
      <div class="carriers-head" routerLink="signup">Sign up</div>
      <div class="carriers-head"> <span (click)="openRegister()">Register</span></div>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/willntrix/" target="_blank">
        <!-- <mat-icon svgIcon="facebook" class="icons"></mat-icon> -->
        <img src="assets/facebook.svg" alt="willntrix_facebook">
      </a>
      <a  href="https://www.instagram.com/willntrix/" target="_blank">
        <!-- <mat-icon svgIcon="instagram" class="icons"></mat-icon> -->
        <img src="assets/instagram.svg" alt="willntrix_instagram">
      </a>
    </div>
  </div>
</div>


