.main-div{
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  font-family: 'Poppins',Regular;
}
h2{
  font-family: 'Nunito', sans-serif;
}
h3{
  font-family: 'Nunito', sans-serif;
}
h4{
  font-family: 'Nunito', sans-serif;
}
