.login-page{
    width: 100%;
    height: 100%;
}
.mat-card{
    font-family: 'Poppins',Regular !important;
    border-radius: 10px !important;
}
.hello{
    font-family: "Roboto",Regular;
    color: #3f3d56de;
}
.login-content{
    max-width: 400px;
}
.form{
    width: calc(100% - 32px);
    margin: 0px 16px;
}
.form-element{
    width: 100%;
    padding: 10px 0px;
}
a{
    text-decoration: none;
}
.button{
    width: 100%;
    background-color: #3f3d56de !important;
    color: white !important;
}
.login-body{
    display: flex;
    padding: 10px;
    margin: 5% auto 0% auto;
    flex-direction: row;
    place-content: center;
    align-items: center;
}
.button-content{
    padding: 1px;
}

.google-button{
    padding: 10px 0px;
}
.google{
    width: calc(100% - 32px) !important;
    margin: 0px 16px;  
}
.new-user{
    font-family: 'Poppins',Regular;
    font-size: 12px;
}
.or{
    text-align: center;
    padding: 16px 0px;
    width: 80%;
    position: relative;
    margin: 0px auto;
}
.other-source span{
    position: absolute;
    margin: -23px 0px 0px -66px;
    background: var(--white-color-bk-font);
    padding: 0px 10px;
}
.forget-password a{
    text-decoration: none;
    float: right;
    color: var(--anchor-tag-color);
    cursor: pointer;
    font-size: 12px;
    font-family: 'Poppins',Regular;
}

.forget-Password-page{
    width: 100%;
    height: 100%;
    text-align: center;
}
.forget-password-content{
    display: inline-block;
    width: 300px;
}
.forget-password{
    margin-bottom:25px; 
}
.back-to-login{
    font-size: 15px;
    color: var(--anchor-tag-color);
    cursor: pointer;
}
.backIcon{
    font-size: 15px;
    cursor: pointer;
    color: var(--anchor-tag-color);
}

.googleimage{
    width: 24px;

    height: 24px;
    margin-bottom: 4px;
}
mat-spinner{
    margin: 12px !important;
}
.buttonName{
    display: inline-flex;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(255, 255, 255)!important;
}

.top-card{
    height: 20px;
    position: absolute;
    width: 20px;
    margin: -30px 0px 0px 190px;
    background-color: #656478;
}
.botton-card{
    height: 40px;
    position: absolute;
    width: 40px;
    background-color: #656478;
    margin: 520px 0px 0px 620px;
    z-index: -1;
}