<div class="example-container" *ngIf="spinnerFlag">
  <mat-toolbar class="toolbar-background">
    <mat-toolbar-row class="main-toolbar">
      <button mat-icon-button (click)="snav.toggle()" [ngClass]="{hiddingSideNav:!(mobileQuery.matches)}"><mat-icon>menu</mat-icon></button>
      <img class="example-app-log" routerLink="" matTooltip="Willntrix" src="assets/Logo_v6.png" alt="Willntrix"/>
      <span class="example-spacer"></span>
      <div [ngClass]="{hiddingSideNav:(mobileQuery.matches)}" class="header-button">
        <a routerLink="/" [fragment]="'enquiry'" class="nav">
          <button mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Enquire</button>
        </a>
        <a routerLink="/blog" class="nav">
          <button mat-button routerLinkActive="active">Blog</button>
        </a>
        <!-- <a (click)="openDiscount()" class="nav">
          <button mat-button routerLinkActive="active">Discount %</button>
        </a> -->
        <a routerLink="/about" class="nav">
          <button mat-button routerLinkActive="active">About Us</button>
        </a>
        <a routerLink="/contact" class="nav">
          <button mat-button routerLinkActive="active">Contact Us</button>
        </a>
        <a routerLink="/FAQ" class="nav">
          <button mat-button routerLinkActive="active">FAQ's</button>
        </a>
        <button mat-button [matMenuTriggerFor]="menu1">
          <span *ngIf="!(currentUser | async)"><sup class="subscript">Hi</sup> Candidate</span>
          <span *ngIf="(currentUser | async)"><sup class="subscript">Hi</sup> {{(currentUser | async)?.displayName}}</span>
        </button>

        <mat-menu #menu1="matMenu">
          <a routerLink="login" class="nav">
            <button mat-menu-item routerLinkActive="active" *ngIf="!(currentUser | async)">Login</button>
          </a>
          <a routerLink="signup" class="nav">
            <button mat-menu-item routerLinkActive="active" *ngIf="!(currentUser | async)">Sign Up</button>
          </a>
          <a routerLink="profile" class="nav">
            <button mat-menu-item routerLinkActive="active" *ngIf="(currentUser | async)" >Profile</button>
          </a>
          <a routerLink="student" class="nav">
            <button mat-menu-item routerLinkActive="active" *ngIf="(currentUser | async)" >Daily Entry Form</button>
          </a>
          <a routerLink="studentregister" class="nav">
            <button mat-menu-item routerLinkActive="active" *ngIf="(currentUser | async)">Student Register Form</button>
          </a>
          <a routerLink="webinar" class="nav">
            <button mat-menu-item routerLinkActive="active" *ngIf="(currentUser | async)">Webinar</button>
          </a>
          <button mat-menu-item (click)="logOut()" *ngIf="(currentUser | async)">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'over'"
    [ngClass]="{hiddingSideNav:!(mobileQuery.matches)}"
    [fixedInViewport]="false">

      <mat-nav-list>
        <a mat-list-item routerLink="" routerLinkActive="active" (click)="snav.toggle()">Home</a>
        <a mat-list-item routerLink="blog" routerLinkActive="active" (click)="snav.toggle()">Blog</a>
        <a mat-list-item routerLink="about" routerLinkActive="active" (click)="snav.toggle()">About</a>
        <a mat-list-item routerLink="contact" routerLinkActive="active"  (click)="snav.toggle()">Contact Us</a>
        <a mat-list-item routerLink="FAQ" routerLinkActive="active" (click)="snav.toggle()">FAQ's</a>
        <!-- <a mat-list-item [matMenuTriggerFor]="sideNav" *ngIf="afAuth.auth.currentUser">Student</a> -->
        <mat-menu #sideNav="matMenu">
          <button mat-menu-item routerLink="student" routerLinkActive="active"  (click)="snav.toggle()">Daily Entry Form</button>
          <button mat-menu-item routerLink="studentregister" routerLinkActive="active" (click)="snav.toggle()">Student Register Form</button>
          <button mat-menu-item routerLink="webinar" routerLinkActive="active" (click)="snav.toggle()">Webinar</button>
        </mat-menu>
        <!-- <a mat-list-item routerLink="signup" routerLinkActive="active" (click)="snav.toggle()"  *ngIf="!afAuth.auth.currentUser">Sign up</a> -->
        <!-- <a mat-list-item routerLink="login" routerLinkActive="active" (click)="snav.toggle()" *ngIf="!afAuth.auth.currentUser">Login</a> -->
        <!-- <a mat-list-item [matMenuTriggerFor]="sideNav1" *ngIf="afAuth.auth.currentUser">Profile</a> -->
        <mat-menu #sideNav1="matMenu">
          <!-- <button mat-menu-item routerLink="profile" (click)="snav.toggle()" *ngIf="afAuth.auth.currentUser">Hi {{afAuth.auth.currentUser.displayName}}</button> -->
          <button mat-menu-item (click)="snav.toggle();logOut()">Logout</button>
        </mat-menu>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
          <main>
            <router-outlet></router-outlet>
          </main>
        <app-end></app-end>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<mat-card class="card-demo spinnerdiv" *ngIf = "!spinnerFlag">
  <mat-card-content>
    <div class="containerX">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexclass="coloredContainerX box">
        <div fxFlex>

          <div *ngIf = "!spinnerFlag" class="spinning">
            <div class="spin">
              <mat-spinner></mat-spinner>
            </div>
            <div class="spinnerText">
              <img style="width: 60px;height: 60px;" src="assets/getSkilled.svg">Get Skilled
              <span style="margin-left: 20px;margin-right: 40px;"></span>
              <img style="width: 60px;height: 60px;" src="assets/getHired.svg" />Get Hired
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="share-chat-main-div">
  <button [matMenuTriggerFor]="menu" mat-button>
    <img src="assets/Image 18.png" alt="messaging app">
  </button>
</div>

<mat-menu #menu="matMenu" class="messager-menu">
  <img class="message-man" src="assets/messaging_man.png">
  <mat-card class="message">
    Hello, how may we help you?
    Just send us a message via
    your favorite messaging app.
  </mat-card>
  <mat-card class="card-button">
    <button mat-menu-item *ngFor="let social of socialIcon" (click)="sendMessage(social)">
      <img [src]="social.icon" [alt]="social.alt">
      <span>{{social.name}}</span>
    </button>
  </mat-card>
</mat-menu>