<div class="p-t-10 d-flex w-100">
    <div class="w-35">
        <img src="assets/home.svg" alt="Home Page logo">
    </div>
    <div class="sub2-div text-align-center w-100">
        <h1 class="font-f-Poppins f-size-1-2">Welcome to the House of Data Analytics</h1>
        <p class="sub-head font-f-Poppins">WillntriX is a learning institute organized by well professionalized trainers having rich
            corporate training skill consulting experience that helps to endure the learning skills for the students.
        </p>
        <div class="head-button w-100 m-l-r-auto font-f-Poppins">
            <button mat-button (click)="openDemoClass()" class="font-f-Poppins">Free Demo <mat-icon>arrow_drop_down</mat-icon></button>
            <button mat-button (click)="openPlacement()" class="font-f-Poppins">Job Update <mat-icon>arrow_drop_down</mat-icon></button>
        </div>
    </div>
</div>