<!-- <div>
  <div class="cheer">
    <div fxFlex></div>
    <p>Cheers!</p>
    <mat-icon class="close" (click)="onKeyUp()">close</mat-icon>
  </div>
  <p class="header-dialog">
    Willntrix is now: Willntrix Madiwala & Willntrix Marathahalli
  </p>

  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
    <div class="div-contemt">
      <p>Willntrix, 1st Fl. SMS Bldg Near Ayyappa Swami Temple 1st Stage, BTM Layout, Madiwala Bengaluru, Karnataka 560068</p>
    </div>
    <div style="padding: 10px 80px;"></div>
    <div class="div-contemt">
      <p class="new-text">NEW</p>
      <p>
        Willntrix, 3rd Fl. Krishna Tower Outer Ring Road, Aswath Nagar, Marathahalli Bengaluru, Karnataka 560037
      </p>
    </div>
  </div>
  <div class="social-media" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/fb.png" alt="facebook icon">
      <p>
        fb.com/willntrix
      </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/insta.png" alt="instagram icon">
      <p>
        instagr.am/willntrix
      </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/wapp.png" alt="whatsapp icon">
      <p>
        8722443194
      </p>
    </div>
  </div>
</div> -->
<div style="float: right; background: white;border-radius: 20%;cursor: pointer;">
  <mat-icon class="close" (click)="onKeyUp()">close</mat-icon>
</div>
<div>
  <img src="assets/PriyaMadam.jpg" alt="">
</div>